.container {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    text-align: center;
}

.heading {
    color: white;
    margin-bottom: 30px;
    font-size: 28px;
    font-weight: bold;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.button {
    background-color: black;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    transition: 0.2s ease;
    margin: 10px 10px;
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
