.headerText {
    text-align: center;
}

p {
    text-align: center;
}

img {
    width: 50%;
}

button {
    background-color: white;
    color: black;
    height: 80px;
    width: 50%;
    margin-top: 40px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif
}

a {
    width: 100%;
    align-items: center;
}

a > button {
    margin-left: 475px;
}

.flexCenter {
    display: flex;
    justify-content: center;
}

.blockContainer {
}