  .headerText {
    text-align: center;
  }

  .image {
    max-width: 800px;
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.centerImage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100vw;
}
  
  .blockContainer {
    padding: 20px;
  }
  
  .flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .button {
    background-color: white;
    color: black;
    height: 50px;
    width: 100%;
    max-width: 300px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
  }

  .centerButton {
    display: flex;
    justify-content: center;
    margin: 20px auto;
    width: 100%;
    max-width: 300px;
  }

.formContainer {
    display: flex;
    justify-content: center;
    padding: 20px;
  }
  
.contactForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 400px;
}

.contactForm label {
font-weight: bold;
}

.contactForm input,
.contactForm textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

.contactForm textarea {
    height: 100px;
    resize: vertical;
}

p {
    text-align: center;
}