.headerText {
    text-align: center;
}

p {
    text-align: center;
}

img {
    width: 100%;
    height: auto;
    max-width: 100vw;
    float: left;
    width: 50%;
}

button {
    background-color: white;
    color: black;
    height: 100px;
    width: 100%;
}

a {
    width: 100%;
}

.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.blockContainer {
    height: 500px;
}