.root-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
  
  .nav-button-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  