form {
  margin: auto;
}

.formContainer {
  justify-content: center;
}

.contactForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 400px;
}

.contactForm label {
  font-weight: bold;
}

.contactForm input,
.contactForm textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

.contactForm textarea {
  height: 100px;
  resize: vertical;
}

.button {
    background-color: white;
    color: black;
    height: 50px;
    width: 100%;
    max-width: 300px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
  }
