/* Foreground image container */
.image-container {
  display: block;
  justify-content: center;
  align-items: center;
  height: auto;
  margin: 0 auto;
  width: 50%;
}

/* Reset default image styles (important if global styles are interfering) */
img {
  width: 50%;
  height: auto;
  display: block;
  margin: auto;
}

@media (max-width: 768px) {
  img {
    width: 80%; /* Make the image wider on smaller screens */
  }
}

p {
  text-align: center;
  font-size: 1.2rem;
}

/* Centering header text */
.headerText {
  text-align: center;
}

/* Padding for block container */
.blockContainer {
  padding: 20px;
}

/* Flex centering for various elements */
.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* General image styling */
.image {
  max-width: 300px;
  display: block;
  margin: 0 auto;
}

/* Button styling */
.button {
  background-color: white;
  color: black;
  width: 100%;
  max-width: 300px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

/* Center button wrapper */
.centerButton {
  display: flex;
  justify-content: center;
  margin: 20px auto;
  width: 100%;
  max-width: 300px;
}

.flexContainer {
  display: flex;
  justify-content: flex-end;/* Aligns the links to the right */
  gap: 10px; /* Adds space between the links */
  width: 100%;
}

body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
